// moddal
.fermer{
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-contenu{
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
    button{
        background-color: black;
        color: white;
        border-color: black;
        border-radius: 12px;
    }

// Nav sticky effect

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: 1s ease;
}


#premier-Section{
    background-image: url('../img/slider-1.jpg');
    background-repeat: no-repeat;
    background-position: bottom 30% right 35%;
    background-size: contain;
    
    h1{
        font-family: 'tous';
        .emporium{
            font-size: 105px;
            font-weight: bold;
        }
    }
    button{
        border-radius: 25px;
        border-color: $red;
        
    }
    
}
#services{
    .row{
        color:white;
        &>div:first-child{
            background-image: url('../img/services/service-1.jpg');
            height: 185px;
            background-size: cover;
            background-position: center;
            background-color: red;
            a{
                color: white;
            }
            hr{
                background-color: white;
            }
            
        }
        &>div:nth-child(2){
            background-image: url('../img/services/service-2.jpg');
            height: 185px;
            background-size: cover;
            background-position: center;
            a{
                color: white;
            }
            
            hr{
                background-color: white
            }
        }
        &>div:last-child{
            background-image: url('../img/services/slider-3.jpg');
            height: 185px;
            background-size: cover;
            background-position: center;
            a{
                color: white;
            }
            hr{
                background-color: white
            }
        }
    }
}
