// moddal
.fermer{
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
    button{
        background-color: black;
        color: white;
        border-color: black;
        border-radius: 12px;
    }

// Nav sticky effect

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: 1s ease;
}
    


