// moddal
.fermer{
    cursor: pointer;
}
#myModal{
    
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-contenu{
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    
}
    button{
        background-color: black;
        color: white;
        border-color: black;
        border-radius: 12px;
    }

// Nav sticky effect

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: 1s ease;
}


#premier-Section{
    
    h2{
        font-family: 'tous';
        
    }
    .emporium{
        font-size: 100px;
        font-weight: bold;
        @include media-breakpoint-down(xl){
            font-size: 50px;
        }
        @include media-breakpoint-down(md){
            font-size: 80px;
        }
        @include media-breakpoint-down(sm){
            font-size: 40px;
        }


    }
    button{
        border-radius: 25px;
        border-color: $red;
        
    }
    
}
#services{
    .row{
        color:white;
        &>div:first-child{
            background-image: url('../img/services/service-1.jpg');
            height: 185px;
            background-size: cover;
            background-position: center;
            background-color: red;
            
            a{
                color: white;
            }
            hr{
                background-color: white;
            }
            
        }
        &>div:nth-child(2){
            background-image: url('../img/services/service-2.jpg');
            height: 185px;
            background-size: cover;
            background-position: center;
            
            a{
                color: white;
            }
            
            hr{
                background-color: white
            }
        }
        &>div:last-child{
            background-image: url('../img/services/slider-3.jpg');
            height: 185px;
            background-size: cover;
            background-position: center;
            
            a{
                color: white;
            }
            hr{
                background-color: white
            }
        }
    }
}

#recent{
    text-align: center;
    h4{
        font-family: 'tous';

    }
    .image-pro{
        overflow: hidden;
        img{
            width: 100%;
            transition: ease 1s;
            
        
        }
        &:hover{
            img{
                transform: scale(1.2);
            }
            .disparait{
                opacity: 0.7;
                a{
                    padding-bottom: 10px;
                }
            }
        }
        .disparait{
            position: absolute;
            bottom: 98px;
            z-index: 3;
            opacity: 0;
            transition: 1s ease;
            a{
                color: white;
                padding-top: 20px;
                padding-bottom: 0px;
                transition: 1s ease;
            }
            a:first-child{
                background-color: red;
                pointer-events: none;
            &:hover{
                cursor: pointer;
            }
            }
            a:last-child{
                background-color: black;
                pointer-events: none;
                
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .barre{
        text-decoration: line-through;
        color: gray;
    }
    .prix{
        text-decoration: none;
        color: rgb(206, 69, 57);

    }
    .sale{
        background-color: rgb(206, 69, 57);
        color: white;
        text-align: center;
        font-size: 15px;
        border-radius: 50px;
        padding: 15px 3px;
        
    }
}
#discover{
    display: flex;
    background-image: url('../img/cta-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position: center;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    span{
        background-color: rgb(206, 69, 57);
        padding: 15px 20px;
        font-size: 12px;
        border-radius: 25px;
    }
}
#myCarousel{
    overflow-x: hidden;
    margin: 0 auto;
    #carousel-contenu{
        transition: 1s;
        position: relative;
        left: 0;
    }
    .item{
        .item-image{
            overflow: hidden;

            img{
                width: 100%;
                transition: ease 1s;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
            .item-desc{
                .solde{
                }
            }
        }
    }
    
    .barre{
        text-decoration: line-through;
        color: gray;
    }
    .prix{
        text-decoration: none;
        color: rgb(206, 69, 57);

    }
    .solde{
        background-color: rgb(206, 69, 57);
        color: white;
        text-align: center;
        font-size: 15px;
        border-radius: 50px;
        padding: 15px 3px;
    }
}
#button-carroussel{
    cursor: pointer;
}
#review{
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    .rouge{
        background-color:rgb(206, 69, 57);
        color: white;
        button:hover{
            background-color: white;
            color: black;
        }
    }
    .noir{
        background-color: #000000;
        color: white;
    }
    .col-lg-4{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
}
section{
    button{
        text-transform: uppercase;
    }
}